<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.rezarizki.rezarr"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FrameLayout"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".LinearLayout"
            android:label="@string/title_activity_linear_layout"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".TableLayout"
            android:label="@string/title_activity_table_layout"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".GridLayout"
            android:label="@string/title_activity_grid_layout"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".RelativeLayout"
            android:label="@string/title_activity_relative_layout"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ComponentButton"
            android:label="@string/title_activity_form_component"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".TextText"
            android:label="@string/title_activity_edit_text"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ContohRadio"
            android:label="@string/title_activity_contoh_radio"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ContohBox"
            android:label="@string/title_activity_contoh_box"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AlerDialok"
            android:label="@string/title_activity_aler_dialok"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".KissView"
            android:label="@string/title_activity_kiss_view"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ImegPiew"
            android:label="@string/title_activity_imeg_piew"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".IntenWorkplow"
            android:label="@string/title_activity_inten_workplow"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".IntenWorkplowdua"
            android:label="@string/title_activity_inten_workplowdua"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Frakment"
            android:label="@string/title_activity_frakment"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ActivityViewPager"
            android:label="@string/title_activity_activity_view_pager"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".JSON"
            android:label="@string/title_activity_json"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Asyncnan"
            android:label="@string/title_activity_asyncnan"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".HALLUCINATION"
            android:label="@string/title_activity_httpurlconnection"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Ogson"
            android:label="Ogson"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Kaolin"
            android:label="@string/title_activity_retrofit"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
